<div style="background-color: #f8f8f8; min-height: 91vh;">
    <div style="padding-top: 10px;"></div>

    <div style="margin-top: 10px;" class="child" *ngFor="let pizza of Pizza">
        <div nz-row>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                    {{pizza.name}}
                </h2>
                <hr>
                <h3>Price: <b>{{pizza.price}}</b></h3>
                <h3>Description : <b>{{pizza.description}}</b></h3>                    
            
                <hr>
                <div style="float: left;">
                    <button nzSize="small" nz-button nzType="primary"
                    routerLink="/login">Order Now!</button>
                </div>
            </div>

        </div>

    </div>

</div>